* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btnparabens {
  font-family: "HEINEKEN Core";
  font-size: 22px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--verde-hnk);
  text-decoration: none;
  border: 0;
  padding: 10px 70px;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  right: 33%;
  animation: scaleButton 0.8s alternate, buttondown 10s alternate;
}
.box {
  position: absolute;
  background-color: white;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  top: 0%;
  left: 27%;
  animation: visibleTrans 0.8s alternate;
}

.star {
  position: absolute;
  animation: rotate 7s alternate infinite, tamanho 7s alternate infinite,
    visibleTrans 0.8s alternate;
}

@keyframes scaleButton {
  from {
    font-size: 18px;
  }
  to {
    font-size: 22px;
  }
}
@keyframes buttondown {
  from{
font-size: 22px;
  }
  to{
font-size: 32px;
top: 300px;
  right: 27%;
  }
  
}
@keyframes tamanho {
  from {
    width: 300px;
    right: 37%;
    top: 37%;
  }
  to {
    width: 900px;
    right: 14%;
    top: 0%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes visibleTrans {
  from {
    visibility: visible;
    opacity: 1;

    to {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }
}


